.Error{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.error{
    width: 60%;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gold;
}