.logo1{
    width: 75px;
    height: 65px;
    border-radius: 12px;
}
.navbar{
    background: black;
    box-shadow: 4px 7px 12px white;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 25px;
}
.text{
    color: black;

}
.text:hover{
    color: gold;
}
.nav-link{
    color: gold;
}
.nav-link:hover{
    color: gold;
}
.icn{
    font-size: 33px;
    color: gold;
    padding-left: 10px;
    cursor: pointer;
}
.icn:hover{
    transform: scale(1.1);
}
.navbar-toggler{
    color: gold;
}
.navbar-toggler-icon{
    color: gold;
}